<div class="edit-main">
  <%= render "edit_nav" %>
  <div class="edit-forms">
    <h3>Edit Lesson Info:</h3>
    <%= render "form", lesson: @lesson %>
  </div>
  <div class="lesson-preview ">
    <%= render "shared/lesson_main" %>
  </div>
</div>
